{% extends 'base.html' %}

{% block content %}


<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br></h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <h1> If you love books, you're in the right place! This is your dream come true library
        right from your electronic device. You can add,delete, choose, and download books to read form
        here. Enjoy putting your mind into imagination and adventure! </h1>
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center"> 
                <img src="../../static/Images/library.jpeg" class="img-fluid p-5" alt="" width="1600" 
                height="2000">
            </div>
        </div>
    </div>
</section>

{% endblock %}